<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>About Mike Price Photography</title>
<!--<link href="styles.css" rel="stylesheet"/>-->
</head>
<div class="box">
<h3>Mike Price Photography</h3>
<div class ="button"><h4>Portfolio</h4></div>
<div class="button"><h4>Schedule</h4></div>
<div class="button"><h4>Retrive Photographs</h4></div>
</div>
<body>
 <h1>About</h1>
  <p>    Founded in 2022 in Houston Texas. Contact through instagram at ---.</p>
</body>
<footer>
  <label for="subscribe" class="subscribe">To recieve updates and promotional information, subscribe to our email list: <input type="email" class="subscribe" id="subscribe"/> <input type="submit" id="subscribe" class="subscribe"/></label>
</footer>
</html>
