<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>About Mike Price Photography</title>
<!--<link href="styles.css" rel="stylesheet"/>-->
</head>
<div class="box">
<h3>Mike Price Photography</h3>
<a href="portfolio"><div class ="button"><h4>Portfolio</h4></div></a>
<a href="schedule"><div class="button"><h4>Schedule</h4></div></a>
<a href="retrive"><div class="button"><h4>Retrive Photographs</h4></div></a>
</div>
<body>
  <div class="description">
 <h1>About</h1>
  <p class="about">    Founded in 2022 in Houston Texas. Contact through instagram at ---.</p>
  <form class="border">
  <label for="subscribe" class="subscribe">To recieve updates and promotional information, subscribe to our email list: <input type="email" class="email" id="subscribe"/> <input type="submit" id="subscribe" class="email"/></label>
  </form>
</div>
</body>
</html>
