.box{
  background: linear-gradient(90deg, rgb(143, 143, 20), rgb(212, 253, 141));
  width: 30%;
  height: auto;
  position:fixed;
  padding-bottom: 100%;
  padding-right:5%;
  padding-left: 5%;
  display:block;
  width:fit-content;
  }

  .button{
    color:black;
    background: linear-gradient(90deg, rgb(143, 143, 20), rgba(212, 253, 141, 0.5));
    margin:10px;
    padding:0.1px;
  }

  a{
    text-decoration: none;
  }

  body{
    background-color: rgba(201, 201, 201, 0.5);
   height: 100%;
   padding:20px;
   padding-bottom: 100%;
   width:100%;
   
  }

  .description{
    display: block;
    padding-left: 40%;
    border-width: 10px;
    width:fit-content;
  }

  h1, .about, .subscribe{
    margin-left: 39%;
    display: block;
  }
  
  p{
    text-align: left;

  }

  .email, .subscribe{
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
  }

.border{
  border: solid rgba(71, 71, 3, 0.5);
  display: block;
  padding:20px;
  margin-left:50%;
  border-width: 10px;
  width:fit-content;
}
